@media (max-width: 970px){
    header #mobile-menu{
        font-size: 24px;
    }
    header{
        padding: 0 3.093vw;
    }
    header h1{
        margin: 0;
    }
    .wrap{
        width: 100%;
        /* padding: 0 2.0833vw 0; */
        padding: 0 3.0928vw 0;
        margin: 12.371vw auto 3.0928vw;
    }
    .my-photo{
        width: 20.6186vw;
        height: 20.6186vw;
    }
    section h1{
        font-size: 2em;
    }
    section h2{
        font-size: 1.4em;
        margin-bottom: 2.0405vw;
    }
    /* .my-info div:last-child{
        margin-left: 3.093vw;
        max-width: 35.928vw;
    } */
    /* project */
    section .project .project-content{
        overflow-y: scroll;
    }
    /* shop */
    .shop-grid{
        grid-auto-rows: 32.9897vw;
    }
    .shop-grid .img-div{
        max-height: 23.7113vw;
    }
    .cart-btn{
        padding: 0.6186vw;
        border-radius: 1.0309vw;
        margin-top: 0.4124vw;
    }
    /* shop, cart */
    .m-shop-basket{
        width: 41.2371vw;
        height: 41.2371vw;
    }
    /* todo */
    .todo-bg{
        width: 100%;
    }
}


@media (max-width: 768px){
    body{
        font-size: 0.900em;
    }
    .wrap{
        margin: 80px auto 0;
    }
    section{
        margin-bottom: 5.2083vw;
    }
    /* header */
    header{
        padding: 0 3.9063vw;
        justify-content: space-between;
        /* height: 8.247vw; */
        height: 60px;
        box-shadow: 1px 1px 6px lightgrey;
    }
    header ul{
        display: none;
        /* display: flex; */
        flex-direction: column;
        background: rgba(0,0,0, .5);
        height: auto;
        position: absolute;
        width: 100%;
        top: 0;
    }
    header #mobile-menu{
        display: block;
    }
    .introduce{
        margin-bottom: 2.6042vw;
    }
    .contact{
        margin-left: 5.2083vw;
        padding: 1.3021vw 0;
    }
    .contact li{
        margin: 1.0417vw 0;
    }
    .my-photo{
        width: 26.0417vw;
        height: 26.0417vw;
    }
    .my-info{
        padding: 2.0833vw;
        margin-top: 2.6042vw;
    }
    .modal-bg{
        position: fixed;
        background: rgba(0, 0, 0, .8);
        width: 100%;
        /* height: 100%; */
        height: 100vh;
        top: 0; left: 0;
        z-index: 10;
    }
    .modal {
        max-width: 280px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .modal ul li {
        /* 20px */
        padding: 2.6316vw 0;
        border-bottom: 1px solid;
    }
    .modal ul li:first-child{
        border-top: 1px solid;
    }
    .modal ul a {
        color: white;
        /* 50px */
        font-size: 6.5789vw;
    }
    .btn{
        font-size: .8em;
        border-radius: 1.3021vw;
    }
    /* todo */
    .todo-bg ul li{
        min-height: 6.1856vw;
        line-height: 6.1856vw;
    }
    /* project */
    section .project{
        grid-template-columns: 1fr;
        grid-gap: 3.9063vw;
        padding: 2.6042vw 6.5104vw 0;
    }
    section .project .project-content{
        padding: 1.0417vw;
    }
    /* shop */
    .shop-info{
        line-height: 1rem;
    }
    .shop-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img-box{
        display: inline-block;
    }
    .img-inner{
        width: 70%;
        margin: 0 auto;
    }
    .img-box-text{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .detail-item-title,
    .detail-item-content{
        margin-top: 2.6042vw;
    }
    .detail-item-content .tab > div{
        height: 7.8125vw;
        line-height: 7.8125vw;
    }
    /* study */
    .study-box ul li{
        height: 13.0208vw;
        padding: 1.8229vw;
    }
    .study-box .content{
        font-size: 1em;
    }
    .text-sort{
        line-height: 1.05rem;
    }
    .study-title{
        margin-bottom: 2.6042vw;
    }
    .study-box .study-detail-title{
        margin-bottom: 2.6042vw;
    }
}
@media (max-width: 640px){
    body{
        font-size: 0.700em;
    }
    section .project .project-content{
        height: 9.375vw;
    }
    .my-info div:first-child{
        line-height: 1rem;
    }
    /* study */
    .text-sort{
        line-height: .95rem;
    }
    /* project */
    .project-detail{
        line-height: 1rem;
    }
    .project-detail h2{
        padding-bottom: 3.1250vw;
        margin-bottom: 3.1250vw;
    }
    .project-detail .highlight{
        font-size: 1rem;
        margin: 3.1250vw 0 1.5625vw;
    }
    .project-detail .highlight::after{
        height: 2.8125vw;
    }
    .project-detail .project-detail-img p{
        margin: 2.5000vw 0 4.0625vw;
        padding: 2.5000vw;
        border-radius: 2.3438vw;
    }
    .project-detail .highlight::after{

    }
}
@media (max-width: 570px){
    .my-info{
        flex-direction: column;
    }
    /* .my-info div:last-child{
        max-width: 100%;
        margin-left: 0;
        border-radius: 1.7544vw;
        padding: 1.7544vw;
        background: lightgray;
        margin-top: 1.7544vw;
    } */
    .my-info div:last-child ul li{
        line-height: 1rem;
    }
    .dark .my-info div ul li,
    .dark .my-info div ul li a{
        color: black;
    }
    /* shop, cart */
    /* .btn{
        padding: 0.7018vw;
        border-radius: 2.6316vw;
    } */
    .m-shop-basket{
        padding: 1.7544vw;
    }
    .m-shop-basket .cart-grid{
        grid-template-columns: .8fr 0.5fr 0.5fr 0.5fr;
        font-size: .8em;
    }
    .m-shop-basket .cart-grid > div{
        height: 7.0175vw;
        padding: 1.0526vw;
    }
    /* study */
    .text-sort{
        height: 1rem;
        -webkit-line-clamp: 1;
    }
    .study-title h1{
        width: 100%;
        font-size: 1rem;
        white-space: nowrap;
    }
    .study-title input{
        width: 100%;
        height: 8.7719vw;
        padding: 1.7544vw;
        font-size: 1rem;
    }
}
@media (max-width: 470px){
    body{
        font-size: 0.600em;
    }
    section .project .project-content > p{
        margin-bottom: 0.4255vw;
    }
    /* shop */
    .shop-info{
        line-height: .8rem;
    }
    .shop-grid{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 230px;
        grid-auto-rows: 48.9362vw;
    }
    .shop-grid .img-div{
        max-height: 180px;
        max-height: 38.2979vw;
    }
    .cart-btn{
        font-size: 2.5532vw;
    }
    .top-btn{
        width: 23.4043vw;
        height: 17.0213vw;
        border-radius: 3.1915vw;
        bottom: 4.2553vw;
        right: 4.2553vw;
    }
    .top-btn p{
        font-size: 2.9787vw;
    }
}
@media (max-width: 375px){
    body{
        font-size: .5em;
    }
    .study-title h1,
    .study-title input{
        font-size: .8rem;
    }
}
